@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  @apply bg-[#050505] text-zinc-300 font-sans antialiased overflow-x-hidden;
}

.font-mono {
  font-family: 'Fira Code', monospace;
}


.crt-overlay {
  pointer-events: none;
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  z-index: 9999;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%);
  background-size: 100% 3px;
  opacity: 0.15; 
}


.cyber-noise {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  pointer-events: none;
  z-index: -1;
  opacity: 0.015; 
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}


::-webkit-scrollbar { 
  width: 8px; 
}

::-webkit-scrollbar-track { 
  background: transparent; 
}

::-webkit-scrollbar-thumb { 
  background: #27272a; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover { 
  background: #3f3f46; 
}
