@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-cyber-dark text-cyber-primary font-mono overflow-x-hidden;
    background-color: #050505;
}

.crt-overlay {
    pointer-events: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 9999;
    background: 
        linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), 
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 3px, 3px 100%;
    animation: flicker 0.15s infinite;
}

.cyber-noise {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.03;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

/* --- GLITCH --- */
.glitch-wrapper {
  position: relative;
  display: inline-block;
}

.glitch-text {
  position: relative;
  color: #00ff41;
}


.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d0d0d; 
  opacity: 0; 
}

.glitch-text::before {
  left: 2px;
  text-shadow: -2px 0 #ff003c;
  animation: glitch-anim-lazy 4s infinite linear alternate-reverse;
}

.glitch-text::after {
  left: -2px;
  text-shadow: -2px 0 #00ff41;
  animation: glitch-anim-lazy 3s infinite linear alternate-reverse; 
}

@keyframes glitch-anim-lazy {
  0% { opacity: 0; clip: rect(0, 9999px, 0, 0); transform: skew(0deg); }
  90% { opacity: 0; clip: rect(0, 9999px, 0, 0); transform: skew(0deg); }
  
  91% { opacity: 1; clip: rect(10px, 9999px, 80px, 0); transform: skew(0.5deg); }
  92% { opacity: 1; clip: rect(80px, 9999px, 10px, 0); transform: skew(-0.5deg); }
  93% { opacity: 1; clip: rect(20px, 9999px, 50px, 0); transform: skew(0.2deg); }
  
  94% { opacity: 0; clip: rect(0, 9999px, 0, 0); transform: skew(0deg); } /* Pequena pausa no meio */
  
  96% { opacity: 1; clip: rect(60px, 9999px, 90px, 0); transform: skew(-0.2deg); }
  97% { opacity: 1; clip: rect(10px, 9999px, 30px, 0); transform: skew(0.3deg); }
  
  100% { opacity: 0; clip: rect(0, 9999px, 0, 0); transform: skew(0deg); }
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #050505; }
::-webkit-scrollbar-thumb { background: #1f2937; border: 1px solid #00ff41; }